.account {
    text-align: center;
    margin: 0;
    padding: 5px 0px 5px;
}

.account a {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

.account a:hover {
    background-color: gold;
}

.account img {
    width: 50px;
    height: 50px;
    vertical-align: bottom;
}

div.search {
    text-align: center;
    margin: 0;
    padding: 5px 0px 5px;
}

div.search input, div.search button {
    margin-top: 9px;
    padding: 5px 6px;
    line-height: 22px;
    font-family: arial;
    background: none;
    outline: 0;
    -webkit-appearance: none;
}

.bigImage {
    float: left;
    margin-right: 50px;
    margin-left: 50px;
}

.bigImage img {
    width: 600px;
    height: 400px;
}

.login-panel {
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .13), 0 1px 5px rgba(0, 0, 0, .36), inset 0 0 0 1px rgba(255, 255, 255, .69);
    width: 400px;
    height: auto;
    float: left;
    padding-top: 20px;
}

.login {
    margin-left: 30px;
}

.login h1 {
    color: #ce8483;
    font-size: 30px;
}

div.login input[type="text"], div.login input[type="password"] {
    height: auto;
    width: 240px;
    margin: 20px 0px;
    border: 1px solid gray;
}

.login input[type="submit"] {
    height: 30px;
    width: 240px;
    margin: 10px 0px;
}

.login a {
    color: gray;
}

.show {
    margin: 8px;
    float: left;
    text-align: center;
    padding: 10px;
    border: 2px salmon solid;
}

.show a {
    text-decoration: none;
}

.show img {
    width: 125px;
    height: 125px;
}

.introduction {

}

.introduction img {
    float: left;
    margin: 20px;
}

.introduction p {
    font-size: 25px;
}

.introduction a {
    text-decoration: none;
}

.user-box {
    margin: 0px auto;
    width: 50%;
}

div.user-box table {
    margin: 0px auto;
    height: auto;
    width: 100%;
}

div.user-box tr {
    height: 50px;
}

div.user-box tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.second-col {
    width: 70%;
    margin: 5px;
}

.user-error {
    margin: 5px auto;
    color: red;
}

.required {
    color: red;
}

.float {
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 2px #787878;
    background: #edfcfe;
    z-index: 9999;
}

table.log {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

table.log th {
    background: #b5cfd2 url('../images/cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

table.log td {
    background: #dcddc0 url('../images/cell-grey.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}